#wordsContainer {
    height: 100px;
    width: 100%;
    max-width: 400px;
    border: 1px solid black;
    padding-top: 40px;
    text-align: center;
    font-size: 30px;
    margin: auto;
}

#gameInfo {
    margin: auto;
    text-align: center;
    height: auto;
    width: 100%;
    max-width: 400px;
    border: 1px solid black;
}

.scoreContainer {
    transition: color 1s, font-size 1s;
    /* color: black; */
}

.green {
    color: green;
    font-size: 26px;
}

.red {
    color: red;
    font-size: 26px;
}

